body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.buttonvoltar {
  padding: 10px 20px;
  background-color: #055704;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.buttonrevelar {
  padding: 10px 20px;
  background-color: #055704;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.buttonreset {
  padding: 10px 20px;
  background-color: #e15858;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.button-margin-top {
  margin-top: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card {
  width: 60px;
  height: 90px;
  background-color: white;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.card.selected {
  background-color: #007bff;
  color: white;
}

.versao {
  position: fixed; /* Fixa a logomarca na posição */
  bottom: 10px; /* Define a distância da parte inferior */
  left: 10px;
  z-index: 100; /* Garante que esteja acima de outros elementos */
  color: #4767e3;
  font-size: 14px;
}

.infodev {
  position: fixed; /* Fixa a logomarca na posição */
  bottom: 10px; /* Define a distância da parte inferior */
  right: 10px;
  z-index: 100; /* Garante que esteja acima de outros elementos */
  color: #4767e3;
  font-size: 14px;
}
